PORT=3000
SPOTFIRE_ANALYSIS_URL=http://your-spotfire-server/spotfire/wp/analysis?file=/Path/To/Your/Analysis
SPOTFIRE_USERNAME=your_username
SPOTFIRE_PASSWORD=your_password
SPOTFIRE_DEBUG=false
SPOTFIRE_BROWSER_PATH=C:\Program Files (x86)\Microsoft\Edge\Application\msedge.exe
SPOTFIRE_DOWNLOAD_TABLES=Tab_Completa-Deslocamentos
REPORT_OUTPUT_FILE_NAME=workline-report.json

