PORT=3000
SPOTFIRE_LOGIN_URL=
SPOTFIRE_ANALYSIS_URL=
SPOTFIRE_USERNAME=
SPOTFIRE_PASSWORD=
SPOTFIRE_DEBUG=false
SPOTFIRE_BROWSER_PATH=
SPOTFIRE_BROWSER_WS_ENDPOINT=
SPOTFIRE_USER_DATA_DIR=
SPOTFIRE_PROFILE_DIRECTORY=
SPOTFIRE_DEFAULT_REPORT_TITLE=
# SPOTFIRE_OUTPUT_DIR (Opcional - por padrão salva automaticamente em scanner_analytics/src/data)
SPOTFIRE_DOWNLOAD_TABLES=Tab_Completa-Deslocamentos,Desvios-Relatório_Geral:Desvios
REPORT_OUTPUT_FILE_NAME=scanner-analytics-report.json