PORT=3000
SPOTFIRE_ANALYSIS_URL=http://your-spotfire-server/spotfire/wp/analysis?file=/Path/To/Your/Analysis
SPOTFIRE_USERNAME=your_username
SPOTFIRE_PASSWORD=your_password
SPOTFIRE_DEBUG=false
SPOTFIRE_BROWSER_PATH=C:\Program Files (x86)\Microsoft\Edge\Application\msedge.exe
SPOTFIRE_DOWNLOAD_TABLES=Tab_Completa-Deslocamentos
REPORT_OUTPUT_FILE_NAME=workline-report.json

# Limites para ativação das red flags (Minutos)
LIMIT_SEM_OS_MIN=10
LIMIT_TEMP_PREP_MIN=10
LIMIT_PRIMEIRO_DESLOC_MIN=25
LIMIT_CALENDARIO_ERRADO_MIN=15
LIMIT_TRIAGEM_MIN=10
LIMIT_DESLOC_INTERVALO_MIN=10
LIMIT_INICIO_JORNADA_MIN=10
LIMIT_RETORNO_EXCEDENTE_MIN=60
LIMIT_DESPACHO_PRIORITARIO_MIN=20
LIMIT_DESPACHO_TARDIO_MIN=10
LIMIT_LOGIN_ATRASADO_MIN=8

# Limites para ativação das red flags (Percentuais)
LIMIT_TR_EXCEDE_HD_PCT=20
LIMIT_OCIOSIDADE_PCT=15